[submodule "services/comanage/comanage"]
	path = services/comanage/comanage
	url = https://github.com/MESH-Research/comanage-registry.git
[submodule "services/comanage/plugins/HCConfirmer"]
	path = services/comanage/plugins/HCConfirmer
	url = https://github.com/MESH-Research/HCConfirmer.git
[submodule "services/comanage/plugins/MlaSource"]
	path = services/comanage/plugins/MlaSource
	url = https://github.com/MESH-Research/MlaSource.git
[submodule "services/comanage/plugins/CivicrmSource"]
	path = services/comanage/plugins/CivicrmSource
	url = https://github.com/MESH-Research/CivicrmSource.git
[submodule "services/comanage/plugins/HcNestedGroupJob"]
	path = services/comanage/plugins/HcNestedGroupJob
	url = https://github.com/MESH-Research/HcNestedGroupJob.git
